# fly.toml app configuration file generated for lifeocr on 2026-01-08T05:17:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lifeocr'
primary_region = 'iad'
console_command = '/code/manage.py shell'

[build]

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.checks]
    grace_period = "30s"  # ← ここを追加！（起動チェック開始まで30秒待つ）
    interval = "15s"
    timeout = "10s"
    method = "get"
    path = "/"
    protocol = "http"


[[vm]]
  memory = '4gb'
  cpu_kind = 'shared'
  cpus = 2
  memory_mb = 4192

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
